%label Session Date
%input 
%label From Time
%input
%label To time
%input
%label Remark:
%textarea

%label Select Batch:
%select Select batch <option> Batch1 </option> <option> Batch2 </option>
%button create session