%h1 Listing grades_students

%table
  %tr
    %th
    %th
    %th

  - @grades_students.each do |grades_student|
    %tr
      %td= link_to 'Show', grades_student
      %td= link_to 'Edit', edit_grades_student_path(grades_student)
      %td= link_to 'Destroy', grades_student, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Grades student', new_grades_student_path
