= simple_form_for Student.new, url: city_path(@state), method: :get do |f|
  = f.error_notification

  .form-inputs
    = f.association :city, :collection => City.where(:state_id => @state.id).entries, :prompt => "Select city", :id => 'combocity'
