= simple_form_for Student.new, url: city_path(@state), method: :get do |f|
  = f.error_notification

  .form-inputs
    = f.association :city, :collection => @state.cities.entries, :prompt => "Select city", :id => 'combocity'