- if grade != nil
  = f.input :sponsor_id, :collection => Sponsor.all.entries, :value_method => :id, :label_method =>  :first_name, :input_html => {:class => "i"}
  = f.input :sponsor_fee, :input_html => {:class => "v"}
  = f.input :student_fee