= simple_form_for @studentpost do |f|
  = f.collection_select :grade_id, Grade.all, :id, :title, :prompt => "Select Grade"

  = f.collection_select :student_id, Student.all, :id, :first_name, :prompt => "Select Student"
  =f.submit