%label First name
%input
%label middle name
%input
%label Last Name
%input
%label Phone
%input
%label Email
%input
%label Witch subject are you titching:
%select <option> Communication </option> <option> Logicle test </option> <option> technicle </option>
%label Select Grade
%select <option> Grade1 </option> <option> Grade2 </option> <option> Grade3 </option>
%label Select Batch for assigning:
%select <option> Batch1 </option> <option> Batch2 </option> <option> Batch3 </option>
%input{:name => "vehicle", :type => "checkbox", :value => "Bike"}> Bike

%button Create trainer