%h2 Ability Of Triners
= simple_form_for ability_path do |f|
  %table.table
    %tr
      %th
      %th Grade Title
      %th Subjetcs
      %th
  
    - @marking_pattens.each do |marking_patten|
      %tr
        %td= marking_patten.grade.title
      - marking_patten.grade.subjects.each do |v|
        %td= v.subject