
%h1 Batch Details
%table
  %tr
    %th 
    %th rade Title
    %th Start Date
    %th End Date
    %th From Time
    %th End Time
    %th Days of week
    %tr
      %td= @report.assign_homework
      %td= @report.session_date
