
%h1 Editing Enquiry student
= render 'form'

= link_to '<button type ="button">Show</button>'.html_safe, @enquiry_path
\|
= link_to '<button type ="button">Cancel</button>'.html_safe, enquiries_path
