

%h1 Students Enqiry list
= simple_form_for destroy_multiple_enquiries_path, method: :delete  do 
  = render "students_list"
  = submit_tag "delete selected"
  = link_to '<button type ="button">New Enquiry</button>'.html_safe, new_enquiry_path
