%h1 Insight
%br
  = link_to '<button type="button">Student Enrollement Details</button>'.html_safe, students_path
  = link_to '<button type="button">Student Enquiry Details</button>'.html_safe, enquiries_path










